.Command {
  display: flex;
  flex-direction: column;
}

.Command .Element {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Command .Element .Title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Command .Element .Content {
  margin: 5px;
}

.Command .Element .Content .Actions button:first-child {
  margin-left: 0;
}

/* Modal */
.Command .Modal .IngredientsWrapper {
  width: 300px;
  margin: auto;
}

.Command .Modal .IngredientsWrapper h1 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 25px;
}

.Command .Modal .Ingredients {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.Command .Modal .Ingredient {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.Command .Modal .Ingredient .Name {
  font-weight: bold;
  margin: 5px;
}

.Command .Modal .Quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Command .Modal .AdditionalIngredients form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Command .Modal .AdditionalIngredients select  {
  flex-grow: 2;
  height: 25px;
  margin-right: 10px;
}

/* Overwrite shared .Actions as the margin is too big */
.Command .Actions {
  margin: 10px 0;
}

.Command .Modal .AdditionalIngredients button.Submit {
  font-size: 11px;
  padding: 5px 10px;
}

.Command .Modal .Actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
