.Backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;;
  top: 0;
  width: 100%;
  z-index: 100
}

.Modal {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  left: 50%;
  padding: 16px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
  z-index: 500;
}

.ModalOpen {
  opacity: 1;
  /* transform: translateY(0); */
}

.ModalClosed {
  opacity: 0;
  transform: translate(-50%, -150%);
}
