.AdminPage {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.AdminPage h1 {
  margin: 30px auto;
}

.AdminPage nav a {
  background-color: #c19343;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

.AdminPage form {
  align-items: center;
  background-color: #fff9ef;
  border: 1px solid #ffdda0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  width: 40%;
}

.AdminPage form input {
  border: 2px solid #c19343;
  border-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  margin-top: 20px;
  width: 70%;
}

.AdminPage form .Error {
  margin-top: 20px;
}

.AdminPage .Content {
  margin-top: 50px;
}

.AdminPage .Ingredients {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.AdminPage .Ingredients .Ingredient {
  align-items: center;
  display: flex;
  margin: 5px;
}

.AdminPage .Ingredients .Ingredient .IngredientName {
  padding: 5px 15px;
}

.AdminPage .Ingredients .Ingredient .IngredientName span {
  color: grey;
  font-size: 12px;
}

.AdminPage .Ingredients .Ingredient .IngredientQuantity {
 padding-right: 15px;
}

.AdminPage .Ingredients .Ingredient button:first-child {
  margin: 0 15px;
}

.AdminPage .FlashMessage {
  margin-bottom: 20px;
}

.AdminPage ul.ShoppingList {
  display: inline-block;
  text-align: left;
}
