.AdminPage {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.AdminPage h1 {
  margin: 30px auto;
}

.AdminPage nav a {
  text-decoration: none;
  color: white;
  background-color: #c19343;
  padding: 15px 20px;
  border-radius: 5px;
}

.AdminPage form {
  margin: auto;
  border: 1px solid #ffdda0;
  background-color: #fff9ef;
  width: 40%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AdminPage form input {
  width: 70%;
  margin-top: 20px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #c19343;
}

.AdminPage form .Error {
  color: red;
  margin-bottom: 0px;
}

.AdminPage .Content {
  margin-top: 50px;
}

.AdminPage .Ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.AdminPage .Ingredients .Ingredient {
  display: flex;
  align-items: center;
  margin: 5px;
}

.AdminPage .Ingredients .Ingredient .IngredientName {
  padding: 5px 15px;
}

.AdminPage .Ingredients .Ingredient .IngredientName span {
  color: grey;
  font-size: 12px;
}

.AdminPage .Ingredients .Ingredient .IngredientQuantity {
 padding-right: 15px;
}

.AdminPage .Ingredients .Ingredient button:first-child {
  margin: 0 15px;
}
