.AdminPage table,
.AdminPage td,
.AdminPage th {
  border: black solid 1px;
  border-collapse: collapse;
}

.AdminPage table {
  margin-left: auto;
  margin-right: auto;
}

.AdminPage td,
.AdminPage th {
  padding: 5px 10px;
}
