.AdminPage table.TableBorder,
.AdminPage table.TableBorder td,
.AdminPage table.TableBorder th {
  border: black solid 1px;
  border-collapse: collapse;
}

.AdminPage table {
  margin-left: auto;
  margin-right: auto;
}

.AdminPage table.TableBorder td,
.AdminPage table.TableBorder th {
  padding: 5px 10px;
}

.AdminPage table.List {
  border-collapse: collapse;
  margin-top: 30px;
}

.AdminPage table.List td {
  text-align: left;
  padding: 2px 10px;
}

.AdminPage table.List tr:not(:last-child) {
    border-bottom: 1px solid #c19343;
}

.AdminPage table.List tr:nth-child(even) {
  background-color: #fff9ef;
}
