.loader,
.loader:after {
  border-radius: 50%;
  height: 7em;
  width: 7em;
}

.loaderSmall,
.loaderSmall:after {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.loader {
  margin: 30px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(197,115,0, 0.2);
  border-right: 1.1em solid rgba(197,115,0, 0.2);
  border-bottom: 1.1em solid rgba(197,115,0, 0.2);
  border-left: 1.1em solid #c57300;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loaderSmall {
  margin: 5px auto;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
